<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <h1>Contact Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ex rem
      harum itaque nostrum repellat culpa, error inventore doloribus voluptates
      laboriosam sequi. Corporis et ipsam atque nemo suscipit tenetur est
      tempore sit quam, amet hic quia molestiae, enim, dolor commodi porro!
      Harum saepe eius cum nam nesciunt blanditiis aspernatur beatae maxime
      cupiditate recusandae. Possimus nobis, quod reiciendis libero doloremque
      velit magni et saepe. Nobis aperiam iusto fugit sequi, odit, recusandae
      molestiae, eaque provident temporibus itaque officia debitis ullam
      dignissimos quisquam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis quos
      facilis? Esse et, eos, eaque voluptas facilis deleniti beatae quasi soluta
      sunt reiciendis, tenetur accusamus libero blanditiis dignissimos aut
      repellat corporis. Cupiditate, ipsam assumenda. Earum sapiente vel
      mollitia, quisquam numquam similique, ex a, quos saepe dolores impedit
      possimus ut odio architecto quia excepturi debitis sint tempora deleniti
      nobis vitae. Nisi, odio molestiae quis sapiente ducimus voluptatum aliquam
      esse et repellat laudantium quidem, inventore, ex cumque adipisci fugiat
      aut nulla culpa illo! Magni architecto consequatur vitae doloremque sunt,
      optio eveniet tempora voluptates minima tenetur, fugit eum asperiores
      itaque iste atque!
    </p>
  </body>
</html>
